# Ceiling
    EVALUATE
        {CEILING(4.42,0.05)}       -- Rounds it to the nearest multiple of 0.05. Output= 4.45

# Convert

    EVALUATE 
        { CONVERT(DATE(1900, 1, 1), INTEGER) }      -- Converts datatype. Here date to integer which is 1.

# Currency

    EVALUATE
        {CURRENCY(1234.56)}         -- Converts it to currency data type = 1234.56000

# Floor
    EVALUATE
        {FLOOR(10.47,.1)}           -- Rounds a number down, toward zero, to the nearest multiple of significance. Result= 10.47

# MOD 

    MOD(3,2)    -- Modulus: Returns reminder after division: 1

# MROUND

> Returns a number rounded to the desired multiple.

    MROUND(1.3,0.2) = 1.4

# ROUND, ROUNDDOWN, and ROUNDUP

	EVALUATE
		{	
			-- ROUND
			ROUND(26.36,0), 		-- Round to the nearest integer: 26
			ROUND(26.36,-1),		-- Round to the nearest multiple of 10: 30
			ROUND(26.36,1),		-- Round to the nearest first decimal: 26.4
			
			-- ROUNDDOWN
			ROUNDDOWN(26.36,0), 		-- Round to the next lower integer: 26 
			ROUNDDOWN(26.36,-1),		-- Round to the next lower multiple of 10: 20 
			ROUNDDOWN(26.36,1),		-- Round to the next lower first decimal: 26.3
			
			-- ROUNDUP
			ROUNDUP(26.36,0),		-- Round to the next higher integer: 27
			ROUNDUP(26.36,-1),		-- Round to the next multiple of 10: 30 
			ROUNDUP(26.36,1)		-- Round to the next higher first decimal: 26.4
		}

# ROUNDDOWN

    ROUNDDOWN(3.14159,3) = 3.141

    ROUNDDOWN(31415.92654, -2) = 31400

# ROUNDUP

    ROUNDUP(3.141592,4) = 3.1416

    ROUNDUP(1.3,0.2) = 2